html{
    width: 100vw;
}

header{
    background-color: rgb(143, 212, 214);
    height: 28vh;
    width: 100vw;
    position: sticky;
    top: 0em;
    bottom: 10em;
    left: 0em;
    right: 0em;
    text-align: center;
    font-family: "Mansalva", cursive;
}

body{
    margin: 0;
    padding: 0;
    background-color: rgb(189, 189, 189);
}

.navbar{
    background-color: rgb(0, 118, 187);
    position: sticky;
    text-align: center;
    height: 8vh;
    color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.cardEsquerdo{
    background-color: whitesmoke;
    width: 15em;
    height: 100em;
    color: black;
}

.zegotinha{
    padding: 1em;
}

.blocos{
    position: relative; 
    left: 18em;
    bottom: 100em;
    width: 85vw;
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.Clima{
    background-color: white;
    width: 30em;
}

.Mundo{
    background-color: white;
    width: 35em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.embaixo{
    position: relative; 
    left: 18em;
    bottom: 110em;
    width: 85vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.Esportes{
    background-color: white;
    width: 30vw;
}

.Estilo{
    background-color: white;
    display: flex;
    width: 35vw;
    flex-direction: row;
    justify-content: center;
}
